<!-- extiende de base.html -->
{% extends "base.html" %}

{% block content %}
<head><meta charset="UTF-8"></head>
<script>navegador('#admin')</script>

<h2>Consultar Descargas</h2>
<hr>

<div class="row">
    <div class="col-sm-5 col-md-3">
        <div id="rad" class="thumbnail">
            <img src="/static/img/descarga.svg">
            <div class="caption">
                <h4><strong>Descargas</strong></h4>
                <p>Consulta de archivos descargados</p>
                <p>
                    <a href="{{ url_for('descargas') }}" class="btn btn-primary" role="button">Ingresar</a>
                </p>
            </div>
        </div>
    </div>
</div>




<br>
<!-- Scripts al cargar el documento -->
<script>
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{% endblock %}