<!-- extiende de base.html -->
{% extends "base.html" %}

{% block content %}
<head><meta charset="UTF-8"></head>
<script>navegador('#cargar')</script>


<ol class="breadcrumb">
<li><a href="{{ url_for('cargar') }}">Cargar</a></li>
<li><a href="{{ url_for('consulta_existente') }}">Existente</a></li>
<li><a href="{{ url_for('editar', id=camp.id) }}">Campañas</a></li>
<li><a href="{{ url_for('muestra', id=camp.id) }}">Muestras</a></li>
<li><a href="{{ url_for('punto', idm=muestra.id, idp=punto.id, idc=camp.id) }}">Puntos</a></li>
<li class="active">Archivos</li>
</ol>

<div class="panel panel-default" id="pcamp">
    <div class="panel-heading"><h4>
        <a href="{{ url_for('editar', id=camp.id) }}" data-toggle="tooltip" title="Ir a la Campaña"><span class="glyphicon glyphicon-share-alt" style="-webkit-transform: scale(-1, 1);
-moz-transform: scale(-1, 1);
-ms-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
transform: scale(-1, 1);"></span></a>
        &nbsp;&nbsp;
        <a data-toggle="collapse" href="#down-camp">Campaña &nbsp; {{ camp.nombre }}</a></h4>
    </div>
    <div id="down-camp" class="collapse panel-collapse">
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">Localidad</th>
                <td>{{ camp.localidad_campania.nombre }}</td>
                <th scope="row">Proyecto</th>
                <td>{{ camp.proyecto_campania.nombre }}</td>
            </tr>
            <tr>
                <th scope="row">Fecha</th>
                <td>{{ camp.fecha.date() }}</td>
                <th scope="row">Fecha Publicación</th>
                <td>{{ camp.fecha_publicacion.date() }}</td>
            </tr>
            <tr>
                <th scope="row">Responsables</th>
                <td colspan="2">{{ camp.responsables }}</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Objetivo</th>
                <td colspan="2">{{ camp.objetivo }}</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="panel panel-default" id="pmues">
    <div class="panel-heading"><h4>
        <a href="{{ url_for('muestra', id=camp.id) }}" data-toggle="tooltip" title="Ir a la Muestra"><span class="glyphicon glyphicon-share-alt" style="-webkit-transform: scale(-1, 1);
-moz-transform: scale(-1, 1);
-ms-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
transform: scale(-1, 1);"></span></a>
        &nbsp;&nbsp;
        <a data-toggle="collapse" href="#down-mues">Muestra &nbsp; {{ muestra.nombre }}</a></h4>
    </div>
    <div id="down-mues" class="collapse panel-collapse">
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">Tipo Cobertura</th>
                <td>{{ tp.nombre }}</td>
                <th scope="row">Cobertura</th>
                <td>{{ muestra.cobertura_muestra.nombre }}</td>
            </tr>
            <tr>
                <th scope="row">Metodología</th>
                <td>{{ muestra.metodo_muestra.nombre }}</td>
                <th scope="row">Espectro-radiómetro</th>
                <td>{{ muestra.radiometro_muestra.nombre }}</td>
            </tr>
            <tr>
                <th scope="row">Patrón</th>
                <td>{{ muestra.patron_muestra.nombre }}</td>
                <th scope="row">Cámara</th>
                <td>{{ muestra.camara_muestra.nombre }}</td>
            </tr>
            <tr>
                <th scope="row">Fotómetro</th>
                <td>{{ muestra.fotometro_muestra.nombre }}</td>
                <th scope="row">GPS</th>
                <td>{{ muestra.gps_muestra.nombre }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="panel panel-default" id="ppunto">
    <div class="panel-heading"><h4>
        <a href="{{ url_for('punto', idm=muestra.id, idp=punto.id, idc=camp.id) }}" data-toggle="tooltip" title="Ir al Punto"><span class="glyphicon glyphicon-share-alt" style="-webkit-transform: scale(-1, 1);
-moz-transform: scale(-1, 1);
-ms-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
transform: scale(-1, 1);"></span></a>
        &nbsp;&nbsp;
        <a data-toggle="collapse" href="#down-punto">Punto &nbsp; {{ punto.nombre }}</a></h4>
    </div>
    <div id="down-punto" class="collapse panel-collapse">
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">Fecha y Hora</th>
                <td>{{ punto.fecha_hora }}</td>
                <th scope="row">Altura de Medición</th>
                <td>{{ punto.altura_medicion|round(2) }} mts.</td>
            </tr>
            <tr>
                <th scope="row">Presión Atmosférica</th>
                <td>{{ punto.presion }} hPa</td>
                <th scope="row">Temperatura</th>
                <td>{{ punto.temperatura }} °C</td>
            </tr>
            <tr>
                <th scope="row">Nubosidad (%)</th>
                <td>{{ punto.nubosidad }} %</td>
                <th scope="row">Estado</th>
                <td>{{ punto.estado }}</td>
            </tr>
            <tr>
                <th scope="row">Velocidad del Viento</th>
                <td>{{ punto.viento_velocidad }} Km/Hs</td>
                <th scope="row">Dirección del Viento</th>
                <td>{{ punto.viento_direccion }}</td>
            </tr>
            <tr>
                <th scope="row">Cantidad de Tomas</th>
                <td>{{ punto.cantidad_tomas }} Km/Hs</td>
                <th scope="row">Oleaje</th>
                <td>{{ punto.oleaje }}</td>
            </tr>
            <tr>
                <th scope="row">Observaciones</th>
                <td colspan="2">{{ punto.observaciones }}</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<h1>Archivos</h1>
<div class="panel panel-default">
    <div class="panel-heading">Radiancias</div>
    <div class="panel-body">
        <div class="panel-group">
            <label>Radiancia TXT</label>
            {{ archivoform.radiancias(class="form-control", multiple="multiple", accept=".rad.txt") }}
        </div>
        <div class="panel-group">
            <label>Radiancia Promedio TXT</label>
            {{ archivoform.rads_avg(class="form-control", multiple="multiple", accept=".rad.md.txt") }}
        </div>
        <div class="panel-group">
            <label>Radiancia Desviación Estándar TXT</label>
            {{ archivoform.rads_st(class="form-control", multiple="multiple", accept=".rad.st.txt") }}
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Reflectancias</div>
    <div class="panel-body">
        <div class="panel-group">
            <label>Reflectancia TXT</label>
            {{ archivoform.reflectancias(class="form-control", multiple="multiple", accept=".rts.txt") }}
        </div>
        <div class="panel-group">
            <label>Reflectancia Promedio TXT</label>
            {{ archivoform.refs_avg(class="form-control", multiple="multiple", accept=".rts.md.txt") }}
        </div>
        <div class="panel-group">
            <label>Reflectancia Desviación Estándar TXT</label>
            {{ archivoform.refs_st(class="form-control", multiple="multiple", accept=".rts.st.txt") }}
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Fotos</div>
    <div class="panel-body">
        <div class="panel-group">
            {{ archivoform.fotos(class="form-control", multiple="multiple") }}
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Fotometrías</div>
    <div class="panel-body">
        <div class="panel-group">
            {{ archivoform.fotometrias(class="form-control", multiple="multiple") }}
        </div>
    </div>
</div>


<br>
<div class="row" id="mensaje"></div>

<!-- Scripts al cargar el documento -->
<script>
//cargarCoberturas();
limpiar_punto();
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};


function editar_punto(){
    var id = $('#id').val();
    if(typeof(id) != 'undefined' && id > 0) {
        window.location.replace("/cargar/campania/muestra/punto?id="+id);
    } else {
        errorMensaje(0,'err',"Seleccione una Muestra para editar sus puntos",$('#mensaje')[0]);
    }
}

$('#').submit(function(e){
    var self = this;
    e.preventDefault();
    var id = $('#id').val();
    if(id > 0){
        self.setAttribute('action', $SCRIPT_ROOT+'/cargar/campania/muestra/'+ id);
    }
    $('.form-control').prop('disabled',false);
    self.submit();
});
</script>
{% endblock %}