<!-- extiende de base.html -->
{% extends "base.html" %}

{% block content %}
<head><meta charset="UTF-8"></head>
<script>navegador('#cargar')</script>

{% if form_n.errors or archivoform.errors%}
    <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <ul>
            {% for error in form_n.errors %}
                <li><span style="color:darkred;">{{ error }}</span><br></li>
            {% endfor %}
            {% for error in archivoform.errors %}
                <li><span style="color:darkred;">{{ error }}</span><br></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}


<h1>Cargar datos de campaña</h1>
<hr>

<form class="form-horizontal" action="" method="post" name="n_camp" id="n_camp" enctype="multipart/form-data">
    <div class="form-group" id="np">
        <label class="col-xs-2">Proyecto</label>
        <div class="col-xs-10">
            {{ form_n.nproyecto(placeholder="Nombre de Proyecto", class="form-control") }}
        </div>
    </div>
    <div class="form-group" id="nf">
        <label class="col-xs-2">Fecha</label>
        <div class="col-xs-10">
            <div class="input-group date">
                {{ form_n.nfecha(placeholder='dd-mm-aaaa', class="form-control", onchange="nombre_camp()") }}
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
        </div>
    </div>
    <div class="form-group" id="nl">
        <label class="col-xs-2">Localidad</label>
        <div class="col-xs-10">
            {{ form_n.nlocalidad(placeholder="Nombre de la Localidad", class="form-control", onchange="nombre_camp()") }}
        </div>
    </div>
    <div class="form-group" id="nc">
        <label class="col-xs-2">Campaña</label>
        <div class="col-xs-10">
            {{ form_n.ncampania(placeholder="Nombre de Campaña", class="form-control", readonly=true) }}
        </div>
    </div>

    <div class="form-group" id="nres">
        <label class="col-xs-2">Responsables</label>
        <div class="col-xs-10">
            {{ form_n.nresponsable(placeholder="Responsables de la campaña", class="form-control") }}
        </div>
    </div>
    <div class="form-group" id="no">
        <label class="col-xs-2">Objetivo</label>
        <div class="col-xs-10">
            {{ form_n.nobjetivo(placeholder="Describa el objetivo de campaña", class="form-control") }}
        </div>
    </div>
    <div class="form-group" id="nins">
        <label class="col-xs-2">Espectro-radiómetro</label>
        <div class="col-xs-10">
            {{ form_n.ninstrumento(placeholder="Seleccione un Instrumento", class="form-control") }}
        </div>
    </div>
    <div class="form-group" id="npat">
        <label class="col-xs-2">Patrón</label>
        <div class="col-xs-10">
            {{ form_n.nespectralon(placeholder="Seleccione el espectralon", class="form-control") }}
        </div>
    </div>
    <div class="form-group" id="ngps">
        <label class="col-xs-2">GPS</label>
        <div class="col-xs-10">
            {{ form_n.ngps(placeholder="GPS utilizado", class="form-control") }}
        </div>
    </div>
    <div class="form-group" id="ncam">
        <label class="col-xs-2">Cámara</label>
        <div class="col-xs-10">
            {{ form_n.ncamara(placeholder="Cámara utilzada", class="form-control") }}
        </div>
    </div>


    <div class="form-group">
        {{ form_n.hidden_tag() }}
    </div>

    <input type="submit" value="Guardar" class="btn btn-primary" id="nsub">
</form>

<!-- Scripts al cargar el documento -->
<script>pickerdate('#nfecha'); validaciones('#nfecha');


function nombre_camp(){
}
</script>
{% endblock %}