<!-- extiende de base.html -->
{% extends "base.html" %}

{% block content %}
<head><meta charset="UTF-8"></head>
<script>navegador('#cargar')</script>

<h1>Cargar datos de campaña</h1>
<hr>

<ul class="list-inline" name="filtro">
    <li id="n" onclick="carga('#n')"><h1>
        <span class="btn btn-lg btn-primary">Nueva
            <span class="glyphicon glyphicon-plus"></span>
        </span></h1>
    </li>
    <li id="e" onclick="carga('#e')"><h1>
        <span class="btn btn-lg btn-success">Existente
            <span class="glyphicon glyphicon-tasks"></span>
        </span></h1>
    </li>
</ul>




<br>
<!-- Scripts al cargar todo el documento -->
<script>
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
function carga(item){
    $('#e').hide();
    $('#n').hide();
    if ($(item)[0].id === $('#e')[0].id){
        window.location = $SCRIPT_ROOT+'/cargar/editar'
    }
    if ($(item)[0].id === $('#n')[0].id){
        window.location = $SCRIPT_ROOT+'/cargar/nuevo'
    }
}
</script>
{% endblock %}