<!-- extiende de base.html -->
{% extends "base.html" %}

{% block content %}
<head><meta charset="UTF-8"></head>
<script>navegador('#cargar')</script>

<ol class="breadcrumb">
<li><a href="{{ url_for('cargar') }}">Cargar</a></li>
<li class="active">Campaña</li>
</ol>

{% if form_n.errors%}
    <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <ul>
            {% for key, error in form_n.errors.items() %}
                <li><span style="color:darkred;"><strong>{{ key }}:</strong> {{ error }}</span><br></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<a href="{{ url_for('nueva') }}" type="button" class="btn btn-default">
    Nueva <span class="glyphicon glyphicon-plus"></span>
</a>
<br><br>


<h1>Cargar datos de campaña</h1>
<hr>

<form class="form-horizontal" action="" method="post" name="n_camp" id="n_camp" enctype="multipart/form-data">
    <div class="form-group" id="np">
        <label class="col-xs-2">Proyecto</label>
        <div class="col-xs-10">
            {{ form_n.nproyecto(placeholder="Nombre de Proyecto", class="form-control") }}
        </div>
    </div>
    <div class="form-group" id="nf">
        <label class="col-xs-2">Fecha</label>
        <div class="col-xs-10">
            <div id="fech" class="input-group date">
                {{ form_n.nfecha(placeholder='Fecha de Campaña en formato YYYY-MM-DD', class="form-control", onchange="nombre_camp()") }}
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
        </div>
    </div>
    <div class="form-group" id="nl">
        <label class="col-xs-2">Localidad</label>
        <div class="col-xs-10">
            {{ form_n.nlocalidad(placeholder="Nombre de la Localidad", class="form-control", onchange="nombre_camp()") }}
        </div>
    </div>
    <div class="form-group" id="nc">
        <label class="col-xs-2">Campaña</label>
        <div class="col-xs-10">
            {{ form_n.ncampania(placeholder="Nombre de Campaña", class="form-control", readonly=true) }}
        </div>
    </div>

    <div class="form-group" id="nres">
        <label class="col-xs-2">Responsables</label>
        <div class="col-xs-10">
            {{ form_n.nresponsable(placeholder="Responsables de la Campaña", class="form-control") }}
        </div>
    </div>
    <div class="form-group" id="no">
        <label class="col-xs-2">Objetivo</label>
        <div class="col-xs-10">
            {{ form_n.nobjetivo(placeholder="Describa el objetivo de Campaña", class="form-control",
            onkeyup="contador(this,'#bdesc',300);") }}
            <span id="bdesc" class="badge">300</span>
        </div>
    </div>
    <div class="form-group" id="t">
        <label class="col-xs-2">Pregunta Teledetección</label>
        <div class="col-xs-10">
            {{ form_n.teledeteccion(placeholder="Describa la pregunta de teledetección si corresponde", class="form-control",
            onkeyup="contador(this,'#btele',600);") }}
            <span id="btele" class="badge">600</span>
        </div>
    </div>
    <div class="form-group" id="e">
        <label class="col-xs-2">Pregunta Especialidad</label>
        <div class="col-xs-10">
            {{ form_n.especialidad(placeholder="Describa la pregunta de especialidad si corresponde", class="form-control",
            onkeyup="contador(this,'#bespe',600);") }}
            <span id="bespe" class="badge">600</span>
        </div>
    </div>
    <div class="form-group" id="nfp">
        <label class="col-xs-2">Fecha de Publicación</label>
        <div class="col-xs-10">
            <div id="fechap" class="input-group date">
                {{ form_n.nfecha_pub(placeholder='Fecha de Publicación de los datos en formato YYYY-MM-DD', class="form-control", onchange="nombre_camp()") }}
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
        </div>
    </div>
    {{ form_n.id(type="hidden") }}

    <div class="form-group">
        {{ form_n.hidden_tag() }}
    </div>

    <input type="submit" value="Guardar" class="btn btn-primary" id="nsub">
</form>

<!-- Scripts al cargar el documento -->
<script>picker_carga('#fech'); pickerdate_pub('#fechap'); campo_numerico('#nfecha'); campo_numerico('#nfecha_pub');
limpiar_camp();

function nombre_camp(){
}
</script>
{% endblock %}