<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
</head>

<div class="form-group">
    <label class="col-xs-2">Fechas</label>
    <div class="col-xs-10">
        <div class="input-group input-daterange">
            <span class="input-group-addon">Inicio</span>
            {{ form.fecha_inicio(placeholder='dd-mm-aaaa', class="input-sm form-control") }}
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            <span class="input-group-addon">Fin</span>
            {{ form.fecha_fin(placeholder='dd-mm-aaaa', class="input-sm form-control") }}
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        </div>
    </div>
</div>