<!-- extiende de base.html -->
{% extends "base.html" %}

{% block content %}
<head><meta charset="UTF-8"></head>
<script>navegador('#consultar')</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(dibujarGrafico);
</script>

{% if form.errors %}
    <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <ul>
            {% for error in form.errors %}
                <li><span style="color:darkred;">{{ error }}</span><br></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<h1>Consulta de Datos</h1>
<hr>
<ul class="list-inline" name="filtro">
    <li id="to" onclick="item_consulta('#to')"><a href="#"><h1><span class="label label-primary">Todo</span></h1></a></li>
    <li id="p" onclick="item_consulta('#p')"><a href="#"><h2><span class="label label-info">Proyecto</span></h2></a></li>
    <li id="l" onclick="item_consulta('#l')"><a href="#"><h2><span class="label label-info">Localidad</span></h2></a></li>
    <li id="t" onclick="item_consulta('#t')"><a href="#"><h2><span class="label label-info">Tipo Cobertura</span></h2></a></li>
    <li id="c" onclick="item_consulta('#c')"><a href="#"><h2><span class="label label-info">Cobertura</span></h2></a></li>
    <li id="f" onclick="item_consulta('#f')"><a href="#"><h2><span class="label label-info">Fecha</span></h2></a></li>
</ul>
<br>
<br>
<form class="form-horizontal" action="" method="post" name="consultar">
    <div class="form-group" id="fp" style="display: none;">
        <label class="col-xs-2">Proyecto</label>
        <div class="col-xs-10">
            {{ form.proyecto(placeholder="Nombre de Proyecto", class="form-control") }}
        </div>
    </div>
    <div class="form-group" id="fl" style="display: none;">
        <label class="col-xs-2">Localidad</label>
        <div class="col-xs-10">
            {{ form.localidad(placeholder="Nombre de la Localidad", class="form-control") }}
        </div>
    </div>
    <div class="form-group" id="ff" style="display: none;">
        <label class="col-xs-2">Fechas</label>
        <div class="col-xs-10">
            <div class="input-group input-daterange">
                <span class="input-group-addon">Inicio</span>
                {{ form.fecha_inicio(placeholder='dd-mm-aaaa', class="input-sm form-control") }}
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                <span class="input-group-addon">Fin</span>
                {{ form.fecha_fin(placeholder='dd-mm-aaaa', class="input-sm form-control") }}
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
        </div>
    </div>
    <div class="form-group" id="ft" style="display: none;">
        <label class="col-xs-2">Tipo de Cobertura</label>
        <div class="col-xs-10">
            {{ form.tipo_cobertura(placeholder="Elija el Tipo de Cobertura", class="form-control", onchange="tipocobertura()") }}
        </div>
    </div>
    <div class="form-group" id="fc" style="display: none;">
        <label class="col-xs-2">Cobertura</label>
        <div class="col-xs-10">
            {{ form.cobertura(placeholder="Elija la Cobertura", class="form-control") }}
        </div>
    </div>
    <!-- div class="form-group">
        <label class="col-xs-2">Radiancia</label>
        <div class="col-xs-10">
            <div class="btn-group" data-toggle="buttons">
                <label id="rad" class="btn btn-primary active">
                    Radiancia
                </label>
                <label id="rad_avg" class="btn btn-default">
                     Radiancia Promedio
                </label>
                <label id="rad_std" class="btn btn-default">
                     Radiancia Desviación Estándar
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2">Reflectancia</label>
        <div class="col-xs-10">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default">
                     Reflectancia
                </label>
                <label class="btn btn-default">
                     Reflectancia Promedio
                </label>
                <label class="btn btn-default">
                     Reflectancia Desviación Estándar
                </label>
            </div>
        </div>
    </div-->
    <div class="form-group">
        {{ form.hidden_tag() }}
    </div>
    <input type="submit" value="Consultar" class="btn btn-primary">
</form>
<hr>
<!-- div id="grafico_linea"></div -->

<!-- Scripts al cargar el documento -->
<script>
    validaciones('#fecha_inicio'); validaciones('#fecha_fin');

    $("input[type=checkbox]").change(function(){
        if($(this).parent().hasClass('active')){
            $(this).parent().removeClass('btn-primary');
            $(this).parent().addClass('btn-default');
        } else {
            $(this).parent().removeClass('btn-default');
            $(this).parent().addClass('btn-primary');
        }
    });

    $('.input-daterange').datepicker({
        startDate: '01-01-2005',
        endDate: 'today',
        todayBtn: true,
        orientation: 'bottom auto',
        format: 'dd-mm-yyyy',
        language: 'es',
        todayHighlight: true
    });
function item_consulta(item){
    $(item).hide();
    if ($(item)[0].id === $('#p')[0].id){
        $('#fp').show();
    }
    if ($(item)[0].id === $('#l')[0].id){
        $('#fl').show();
    }
    if ($(item)[0].id === $('#f')[0].id){
        $('#ff').show();
    }
    if ($(item)[0].id === $('#t')[0].id){
        $('#ft').show();
    }
    if ($(item)[0].id === $('#c')[0].id){
        $('#fc').show();
    }
    if ($(item)[0].id === $('#to')[0].id){
        $('#to').show();
        $('#p').show();
        $('#l').show();
        $('#f').show();
        $('#t').show();
        $('#c').show();
        $('#fp').hide();
        $('#fl').hide();
        $('#ft').hide();
        $('#fc').hide();
        $('#ff').hide();
        $('#proyecto')[0].value = 0;
        $('#localidad')[0].value = 0;
        $('#tipo_cobertura')[0].value = 0;
        $('#fecha_inicio')[0].value = '';
        $('#fecha_fin')[0].value = '';
        $('#cobertura')[0].value = 0;
    }
}
    $('#fp').hide();
    $('#fl').hide();
    $('#ft').hide();
    $('#fc').hide();
    $('#ff').hide();
</script>
{% endblock %}