<!-- extiende de base.html -->
{% extends "base.html" %}

{% block content %}
<head>
<meta charset="UTF-8">
</head>
<script>navegador('#consultar')</script>

<ol class="breadcrumb">
<li><a href="{{ url_for('consultar', args=criterios) }}">Campañas</a></li>
<li class="active">Muestras</li>
</ol>

<br>
<a class="btn" data-toggle="tooltip" title="Volver atrás" href="/consultar?args={{ criterios }}">
    <span class="glyphicon glyphicon-share-alt" style="-webkit-transform: scale(-1, 1);
-moz-transform: scale(-1, 1);
-ms-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
transform: scale(-1, 1);"></span>&nbsp; Volver
</a>


<h2>Campaña</h2>

<div class="panel panel-default">
    <div class="panel-heading"><strong>{{ camp.nombre }}</strong></div>
    <div class="panel-body">
        <p><strong>Objetivo:</strong> {{ camp.objetivo }}</p>
        <table class="table">
            <tr>
                <th>Tipo de Cobertura</th>
                {% if camp.muestras.all()|length > 0 %}
                <td>{{ camp.muestras.all()[0].cobertura_muestra.cobertura.nombre }}</td>
                {% else %}
                <td></td>
                {% endif %}
            </tr><tr>
                <th>Cobertura/s</th>
                {% if camp.muestras.all()|length > 0 %}
                <td>{% if camp.muestras.all()[0].cobertura_muestra.cobertura.nombre == "AGRICULTURA" %}
                    <ul>
                    {% for c in camp.muestras.all() %}
                    <li>{{ c.cobertura_muestra.nombre }}</li>
                    {% endfor %}
                    </ul>
                    {% else %}
                    {{ camp.muestras.all()[0].cobertura_muestra.nombre }}
                    {% endif %}
                </td>
                {% else %}
                <td></td>
                {% endif %}
            </tr><tr>
                <th>Ubicación</th>
                <td>{{ camp.localidad_campania.nombre }}</td>
            </tr><tr>
                <th>Tipo de Calibración</th>
                {% if camp.muestras.all()|length > 0 %}
                <td>{{ camp.muestras.all()[0].patron_muestra.nombre }}</td>
                {% else %}
                <td></td>
                {% endif %}
            </tr><tr>
                <th>Fecha</th>
                <td>{{ camp.fecha.date() }}</td>
            </tr><tr>
                <th>Nombre de Campaña</th>
                <td>{{ camp.nombre }}</td>
            </tr><tr>
                <th>Responsables</th>
                <td>{{ camp.responsables }}</td>
            </tr>
        </table>
        <div style="font-size: 23px;border-radius: 1em;">
            <span style="float: right;" class="label btn label-primary" data-toggle="tooltip" title="Descargar Campaña" onclick="descargar('{{ url_for('show_campaign', filename=archivo) }}')">
                &nbsp;<span class="glyphicon glyphicon-arrow-down"></span>&nbsp;
            </span>
        </div>
    </div>
</div>

{% if muestras|length > 0 %}
<h2>Muestras</h2>
<div class="list-group">
    {% for muestra in muestras %}
    <a class="list-group-item" style="padding: 20px 25px;" href="#resul" data-toggle="collapse" data-target="#pmues{{ loop.index }}">
        <strong>{{ muestra.cobertura_muestra.nombre }}{% if muestra.cobertura_muestra.cobertura.nombre == "HIDROLOGIA" %} {{ loop.index }}{% endif %}</strong>
        <span class="glyphicon glyphicon-chevron-down" style="float: right;" data-toggle="tooltip" title="Detalles de Muestra"></span>
        <div id="pmues{{ loop.index }}" class="collapse panel panel-default">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>Nombre de Campaña</th>
                        <td>{{ camp.nombre }}</td>
                    </tr><tr>
                        <th>Id</th>
                        <td>{{ camp.id }}</td>
                    </tr><tr>
                        <th>Fecha</th>
                        <td>{{ camp.fecha.date() }}</td>
                    </tr><tr>
                        <th>Ubicación</th>
                        <td>{{ camp.localidad_campania.nombre }}</td>
                    </tr><tr>
                        <th>Proyecto</th>
                        <td>{{ camp.proyecto_campania.nombre }}</td>
                    </tr><tr>
                        <th>Responsables</th>
                        <td>{{ camp.responsables }}</td>
                    </tr><tr>
                        <th>Objetivo</th>
                        <td>{{ camp.objetivo }}</td>
                    </tr><tr>
                        <th>Pregunta de Teledetección</th>
                        <td>{{ camp.teledeteccion }}</td>
                    </tr><tr>
                        <th>Pregunta de Especialidad</th>
                        <td>{{ camp.especialidad }}</td>
                    </tr><tr>
                        <th>Espectro-radiómetro</th>
                        <td>{{ muestra.radiometro_muestra.nombre }}</td>
                    </tr><tr>
                        <th>Otros Instrumentos</th>
                        <td><ul>
                            <li>Fotómetro<br>{{ muestra.fotometro_muestra.nombre }}</li>
                            <li>Cámara<br>{{ muestra.camara_muestra.nombre }}</li>
                            <li>GPS<br>{{ muestra.gps_muestra.nombre }}</li>
                            <li>Patrón<br>{{ muestra.patron_muestra.nombre}}</li>
                            </ul>
                        </td>
                    </tr><tr>
                        <th>Metodología</th>
                        <td>{{ muestra.metodo_muestra.nombre }}<br>
                            <p>{{ muestra.metodo_muestra.descripcion }}</p>
                        </td>
                    </tr><tr>
                        <th>Puntos</th>
                        <td>{{ muestra.puntos.all()|length }}<br>{% if muestra.puntos.all()|length > 0 %}
                        <a class="detalle" href="{{ url_for('detalle_punto', idc=camp.id, idm=muestra.id, archivo=archivo, criterios=criterios) }}">Detalles</a>{% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endif %}
{% endblock %}