<!-- extiende de base.html -->
{% extends "base.html" %}

{% block content %}
<head><meta charset="UTF-8"></head>
<script>navegador('#cargar')</script>



<ol class="breadcrumb">
<li><a href="{{ url_for('cargar') }}">Cargar</a></li>
<li><a href="{{ url_for('consulta_existente') }}">Existente</a></li>
<li class="active">Campaña</li>
</ol>


<div class="panel panel-default" id="panel">
    <div class="panel-heading"><strong>Campañas Existentes</strong>
    <!--img src="/static/img/cobertura.png" style="width: 50px;height: 50px;"-->
    </div>
    <div class="list-group">
        {% for c in camps.items %}
        <a href="#e_camp" class="list-group-item" onclick="rellenar_camp('{{ c.nombre }}')" data-toggle="tooltip" title="Modificar Item">
        {{ c.nombre }}
        <span type="button" class="badge btn">
            <span class="glyphicon glyphicon-pencil"></span>
        </span>
        </a>
        {% endfor %}
    </div>
</div>
{% if camps.has_prev %}<nav><ul class="pager"><li><a href="{{ url_for('editar', page=camps.prev_num, id=form_e.id.data) }}"><i class="glyphicon glyphicon-chevron-left"></i> Previos</a></li>{% else %}<nav><ul class="pager">{% endif %}
{% if camps.has_next %}<li><a href="{{ url_for('editar', page=camps.next_num, id=form_e.id.data) }}">Siguientes <i class="glyphicon glyphicon-chevron-right"></i></a></li></ul></nav>{% else %}</ul></nav>{% endif %}


<h1>Editar datos de campaña</h1>
<hr>
{% if form_e.errors %}
    <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span class="glyphicon glyphicon-remove-circle"></span>
        <ul>
            {% for key,error in form_e.errors.items() %}
                <li><span style="color:darkred;"><strong>{{ key }}:</strong> {{ error }}</span><br></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<form class="form-horizontal" action="" method="post" id="e_camp">
    <div class="form-group" id="ec">
        <label class="col-xs-2">Campaña</label>
        <div class="col-xs-10">
            <div class="input-group">
                {{ form_e.ncampania(placeholder="Nombre de Campaña", class="form-control", disabled=true) }}
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" onclick="habilitar('#ncampania', '#bcamp')" id="bcamp">
                        <i class="glyphicon glyphicon-pencil"></i></button>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group" id="ep">
        <label class="col-xs-2">Proyecto</label>
        <div class="col-xs-10">
            <div class="input-group">
                {{ form_e.nproyecto(placeholder="Nombre de Proyecto", class="form-control", disabled=true) }}
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" onclick="habilitar('#nproyecto', '#bp')" id="bp">
                        <i class="glyphicon glyphicon-pencil"></i></button>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group" id="el">
        <label class="col-xs-2">Localidad</label>
        <div class="col-xs-10">
            <div class="input-group">
                {{ form_e.nlocalidad(placeholder="Nombre de la Localidad", class="form-control", disabled=true) }}
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" onclick="habilitar('#nlocalidad', '#bl')" id="bl">
                        <i class="glyphicon glyphicon-pencil"></i></button>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group" id="ef">
        <label class="col-xs-2">Fecha</label>
        <div class="col-xs-10">
            <div class="input-group date">
                {{ form_e.nfecha(placeholder='Fecha de Campaña en formato DD-MM-AAAA', class="form-control", disabled=true) }}
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" onclick="habilitar('#nfecha', '#bf')" id="bf">
                        <i class="glyphicon glyphicon-pencil"></i></button>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group" id="eres">
        <label class="col-xs-2">Responsable</label>
        <div class="col-xs-10">
            <div class="input-group">
                {{ form_e.nresponsable(placeholder="Responsable de la Campaña", class="form-control", disabled=true) }}
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" onclick="habilitar('#nresponsable', '#br')" id="br">
                        <i class="glyphicon glyphicon-pencil"></i></button>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group" id="eo">
        <label class="col-xs-2">Objetivo</label>
        <div class="col-xs-10">
            <div class="input-group">
                {{ form_e.nobjetivo(placeholder="Describa el objetivo de Campaña", class="form-control", disabled=true) }}
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" onclick="habilitar('#nobjetivo', '#bo')" id="bo">
                        <i class="glyphicon glyphicon-pencil"></i></button>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group" id="efp">
        <label class="col-xs-2">Fecha de Publicación</label>
        <div class="col-xs-10">
            <div class="input-group date">
                {{ form_e.nfecha_pub(placeholder='Fecha de Publicación de los datos en formato DD-MM-AAAA', class="form-control", disabled=true) }}
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" onclick="habilitar('#nfecha_pub', '#bfp')" id="bfp">
                        <i class="glyphicon glyphicon-pencil"></i></button>
                </span>
            </div>
        </div>
    </div>

    {{ form_e.id(type="hidden") }}
    <div id="container">

    </div>

    <div class="form-group">
        {{ form_e.hidden_tag() }}
    </div>

    <input type="submit" value="Guardar" class="btn btn-primary" id="esub">
</form>


<br>

<h3><span class="label label-info btn" onclick="editar_muestra()">Editar datos de Muestras</span></h3>



<!-- Scripts al cargar el documento -->
<script>
pickerdate('#fecha'); pickerdate_pub('#fecha_pub'); validaciones('#fecha'); limpiaResponsables();
validaciones('#fecha_pub');
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

var camps = [];

{% for c in camps.items %}
    var camp = {
        id:{{ c.id|default(0) }},
        nombre:"{{ c.nombre }}",
        id_loc:"{{ c.id_localidad }}",
        id_pro:"{{ c.id_proyecto }}",
        fecha:"{{ c.fecha.date() }}",
        fecha_pub:"{{ c.fecha_publicacion.date() }}",
        obj:"{{ c.objetivo }}",
        resp:"{{ c.responsables }}"
    };
    camps.push(camp);
{% endfor %}

function editar_muestra(){
    window.location.replace("/cargar/campania/muestra?id="+$('#id').val());
}

$('#e_camp').submit(function(e){
    var self = this;
    e.preventDefault();
    $('.form-control').prop('disabled',false);
    self.submit();
});
</script>
{% endblock %}