<!-- extiende de base.html -->
{% extends "base.html" %}

{% block content %}
<head><meta charset="UTF-8"></head>
<script>navegador('#cargar')</script>
<ol class="breadcrumb">
<li><a href="{{ url_for('cargar') }}">Cargar</a></li>
<li class="active">Proyecto</li>
</ol>

<div style="display: {{ panel }};">

<h1>Proyectos</h1>
<hr>

<div class="panel panel-default" id="panel">
    <div class="panel-heading"><strong>Proyectos Existentes</strong>
    <img src="/static/img/proyecto2.png" style="width: 40px;height: 40px;">
    </div>
    <div class="list-group">
        {% for p in proyectos.items %}
        <a href="#proyecto_form" class="list-group-item" onclick="rellenar_proyecto('{{ p.nombre }}')" data-toggle="tooltip" title="Modificar Item">
        {{ p.nombre }}
        <span type="button" class="badge btn" id="elim_{{ p.nombre }}"  data-toggle="tooltip" title="Eliminar Item">
            <span class="glyphicon glyphicon-trash"></span>
        </span>
        </a>
        {% endfor %}
    </div>
</div>
{% if proyectos.has_prev %}<nav><ul class="pager"><li><a href="{{ url_for('proyecto', page=proyectos.prev_num) }}"><i class="glyphicon glyphicon-chevron-left"></i> Previos</a></li>{% else %}<nav><ul class="pager">{% endif %}
{% if proyectos.has_next %}<li><a href="{{ url_for('proyecto', page=proyectos.next_num) }}">Siguientes <i class="glyphicon glyphicon-chevron-right"></i></a></li></ul></nav>{% else %}</ul></nav>{% endif %}


<button type="button" class="btn btn-default" onclick="limpiar_proyecto()">
    Nuevo <span class="glyphicon glyphicon-plus"></span>
</button>
<br><br>
</div>

{% if form.errors %}
    <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <ul>
            {% for key, error in form.errors.items() %}
                <li><span style="color:darkred;"><strong>{{ key }}:</strong> {{ error }}</span><br></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<h3><img src="/static/img/proyecto2.png" style="width: 40px;height: 40px;"> Proyecto</h3>
<hr>


<form class="form-horizontal" id="proyecto_form"  method="post">
    <div class="form-group">
        <label class="col-xs-2">Nombre</label>
        <div class="col-xs-9">
            {{ form.nombre(placeholder="Nombre del proyecto", class="form-control") }}
        </div>
        <div class="col-xs-1" style="display:none;">
            <button class="btn btn-primary" type="button" onclick="habilitar('#nombre', '#bnom')" id="bnom">
                <i class="glyphicon glyphicon-pencil"></i></button>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2">Descripción</label>
        <div class="col-xs-9">
        {{ form.descripcion(class="form-control", placeholder="Describa características del proyecto.",
        onkeyup="contador(this,'#bdesc',600);") }}
            <span id="bdesc" class="badge">600</span>
        </div>
        <div class="col-xs-1" style="display:none;">
            <button class="btn btn-primary" type="button" onclick="habilitar('#descripcion', '#bde')" id="bde">
                <i class="glyphicon glyphicon-pencil"></i></button>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2">Responsables</label>
        <div class="col-xs-9">
        {{ form.responsables(class="form-control", placeholder="Responsables del proyecto.") }}
        </div>
        <div class="col-xs-1" style="display:none;">
            <button class="btn btn-primary" type="button" onclick="habilitar('#responsables', '#bres')" id="bres">
                <i class="glyphicon glyphicon-pencil"></i></button>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2">Activo</label>
        <div class="col-xs-9">{{ form.status(class="form-control", style="width:34px;margin:0px 0px;") }}</div>
        <div class="col-xs-1" style="display:none;">
            <button class="btn btn-primary" type="button" onclick="habilitar('#status', '#bsta')" id="bsta">
                <i class="glyphicon glyphicon-pencil"></i></button>
        </div>
    </div>
    {{ form.id(type="hidden") }}
    {{ form.hidden_tag() }}
    <input type="submit" value="Guardar" class="btn btn-primary">
</form>

<br>
<div id="mensaje"></div>

<script>
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
limpiar_proyecto();

var proyectos = [];

{% for p in proyectos.items %}
    var proyecto = {
        id:{{ p.id|default(0) }},
        nombre:"{{ p.nombre }}",
        descripcion:"{{ p.descripcion }}",
        responsables:"{{ p.responsables }}",
        status:"{{ p.status }}"
    };
    if(proyecto.status == "False"){proyecto.status = false;} else {proyecto.status = true;}
    proyectos.push(proyecto);
    btn_eliminar_item('elim_'+proyecto.nombre, proyectos, 'Eliminar Proyecto',
            'Está seguro de eliminar el proyecto "', '/cargar/proyecto/borrar/');
{% endfor %}

$('#proyecto_form').submit(function(e){
    var self = this;
    e.preventDefault();
    var check = document.getElementById('status').checked;
    if(check){$('#status').val(true);} else {$('#status').val(false);}
    $('.form-control').prop('disabled',false);
    self.submit();
});
</script>
{% endblock %}
