<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
    <script>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
    <link rel="stylesheet" href="/static/css/map.css" />
</head>
<body>

<input id="pac-input" class="controls" type="text" placeholder="Buscar Localidad">

<div id="mapa_punto"></div>
<br>
<div id="mensaje"></div>


<script charset="UTF-8" type="text/javascript" src="/static/js/mapa_punto.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEoMVkNH0wil08-flQPNSN9x6PT2YLPVU&libraries=places&callback=initAutocomplete"
         async defer></script>

</body>
</html>
