
<br>
<div class="panel panel-default">
    <div class="panel-heading"><strong>Resultados para la búsqueda:</strong></div>
    <div class="panel-body">
        {% for name, value in criterios.items() %}
            <strong>{{ name }}:</strong> {{ value }}<br>
        {% endfor %}
        {% if criterios.items()|length < 1 %}Todas las campañas{% endif %}
    </div>
</div>

<h2>Campañas</h2>
{% if list|length > 0 %}
    <div class="list-group">
        {% for pair in list %}
            {% if g.user.is_authenticated %}
                {% if pair[1] != "" %}
                <a class="list-group-item" style="padding: 20px 25px;" href="#resul" data-toggle="collapse" data-target="#pcamp{{ loop.index }}">
                {{ pair[1] }}
                    <span class="glyphicon glyphicon-chevron-down" style="float: right;" data-toggle="tooltip" title="Detalles de Campaña"></span>
                    <div id="pcamp{{ loop.index }}" class="collapse panel panel-default">
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Tipo de Cobertura</th>
                                        <th>Cobertura/s</th>
                                        <th>Ubicación</th>
                                        <th>Tipo de Calibración</th>
                                        <th>Fecha</th>
                                        <th>Nombre de Campaña</th>
                                        <th>Muestras</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>{% if pair[0].muestras.all()|length > 0 %}
                                        <td>{{ pair[0].muestras.all()[0].cobertura_muestra.cobertura.nombre }}</td>
                                        <td>{% if pair[0].muestras.all()[0].cobertura_muestra.cobertura.nombre == "AGRICULTURA" %}
                                            {% for p in pair[0].muestras.all() %}
                                                {{ p.cobertura_muestra.nombre }}<br>
                                            {% endfor %}
                                        {% else %}
                                            {{ pair[0].muestras.all()[0].cobertura_muestra.nombre }}
                                        {% endif %}</td>
                                        <td>{{ pair[0].localidad_campania.nombre }}</td>
                                        <td>{{ pair[0].muestras.all()[0].patron_muestra.nombre }}</td>
                                        <td>{{ pair[0].fecha.date() }}</td>
                                        <td>{{ pair[0].nombre }}</td>
                                        <td></td>
                                        {% else %}
                                        <td></td>
                                        <td></td>
                                        <td>{{ pair[0].localidad_campania.nombre }}</td>
                                        <td></td>
                                        <td>{{ pair[0].fecha.date() }}</td>
                                        <td>{{ pair[0].nombre }}</td>
                                        <td></td>
                                    </tr>{% endif %}
                                </tbody>
                            </table><div style="font-size: 23px;border-radius: 1em;">
                            <span style="float: right;" class="label btn label-primary" data-toggle="tooltip" title="Descargar Item" onclick="descargar('{{ url_for('show_campaign', filename=pair[1]) }}')">
                                &nbsp;<span class="glyphicon glyphicon-arrow-down"></span>&nbsp;
                            </span></div>
                        </div>
                    </div>
                </a>{% endif %}
            {% else %}
                {% if pair[1] != "" %}
                <a class="list-group-item" href="#resul" style="padding: 20px 25px;" data-toggle="tooltip" title="Ingrese para Descargar" onclick="abrir_login()">
                {{ pair[1] }}
                    <span class="glyphicon glyphicon-chevron-down" style="float: right;" data-toggle="tooltip" title="Detalles de Campaña"></span>
                </a>{% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% elif list|length == 0 %}
    &nbsp;No se encontraron campañas para su búsqueda.
    <br>
{% endif %}
